<!DOCTYPE html>
<html lang="en">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Mirrored from learnplus.frontendmatter.com/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:41:25 GMT -->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>

        <!-- Prevent the demo from appearing in search engines (REMOVE THIS) -->
        <meta name="robots" content="noindex">

        <!-- Simplebar -->
        <link type="text/css" href="/vendor/simplebar.css" rel="stylesheet">

        <!-- Material Design Icons  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Roboto Web Font -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
            rel="stylesheet">

        <!-- MDK -->
        <link type="text/css" href="/vendor/material-design-kit.css" rel="stylesheet">

        <!-- Sidebar Collapse -->
        <link type="text/css" href="/vendor/sidebar-collapse.min.css" rel="stylesheet">

        <!-- App CSS -->
        <link type="text/css" href="/css/style.css" rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    </head>

    <body>

        <div class="d-flex flex-column h-100">
            <!-- Navbar -->
            <nav class="navbar navbar-expand navbar-dark bg-primary m-0">

                <!-- Toggle sidebar -->
                <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
                    <span class="material-icons">menu</span>
                </button>

                <!-- Brand -->
                <a href="/dashboard" class="navbar-brand"><i class="material-icons">
                        school</i> EzTest</a>

                <!-- Search -->
                <form class="navbar-search-form d-none d-md-flex">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn" type="button"><i class="material-icons">
                            search</i></button>
                </form>
                <!-- // END Search -->

                <div class="navbar-spacer"></div>

                <!-- Menu -->
                <ul class="nav navbar-nav d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="forum.html">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="help-center.html">Get Help</a>
                    </li>
                </ul>

                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <!-- User dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                                src="/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle" width="40"></a>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="account-edit.html">
                                <i class="material-icons">edit</i> Edit Account
                            </a>
                            <a class="dropdown-item" href="profile.html">
                                <i class="material-icons">person</i> Profile
                            </a>
                            <a class="dropdown-item" href="guest-login.html">
                                <i class="material-icons">lock</i> Logout
                            </a>
                        </div>
                    </li>
                    <!-- // END User dropdown -->

                </ul>
                <!-- // END Menu -->

            </nav>
            <!-- // END Navbar -->

            <div class="mdk-drawer-layout js-mdk-drawer-layout flex" data-fullbleed data-push data-has-scrolling-region>
                <div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="card">
                                    <div class="card-header bg-white">
                                        <%- include ('partials/flash.ejs') %>
                                    </div>
                                    <div class="card-header bg-white">
                                        <h4 class="card-title font-weight-bold">What is it?</h4>
                                        <p class="card-subtitle">EzTest is a cost-effective, scalable
                                            way to convert traditional pen and paper-based exams to online and paperless
                                            mode.</p>
                                    </div>
                                    <!-- <div class="card-body text-center">
                                        <div class="btn btn-primary btn-circle"><i class="material-icons">
                                                thumb_up</i></div>
                                        <div class="btn btn-danger btn-circle"><i class="material-icons">
                                                grade</i></div>
                                        <div class="btn btn-success btn-circle"><i class="material-icons">
                                                bubble_chart</i></div>
                                        <div class="btn btn-warning btn-circle"><i class="material-icons">
                                                keyboard_voice</i></div>
                                        <div class="btn btn-info btn-circle"><i class="material-icons">
                                                event_available</i></div>
                                    </div> -->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="card">
                                    <div class="card-header bg-light">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="card-title font-weight-bold">Discover</h4>
                                                <p class="card-subtitle">Recent tests people have just uploaded</p>
                                            </div>

                                        </div>
                                    </div>
                                    <ul class="list-group list-group-fit mb-0">
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <a href="quiz-results.html">
                                                        Title of quiz goes here?</a>
                                                    <br>

                                                    <span class="badge badge-pill badge-info">10</span>
                                                    <span class="badge badge-pill badge-info">Math</span>
                                                    <span class="badge badge-pill badge-danger">Paid</span>
                                                    <span class="badge badge-pill badge-success">Free</span>


                                                </div>
                                                <button type="button" class="btn btn-white btn-circle">
                                                    <i class="material-icons preview" data-target="#editQuiz"
                                                        data-toggle="modal" id="preview1">
                                                        visibility
                                                    </i>

                                                    <span class="mdk-tooltip js-mdk-tooltip" data-for="preview1">
                                                        Take a look
                                                    </span>
                                                </button>

                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <a href="quiz-results.html">
                                                        Title of quiz goes here?</a>
                                                    <br>

                                                    <span class="badge badge-pill badge-info">10</span>
                                                    <span class="badge badge-pill badge-info">Math</span>
                                                    <span class="badge badge-pill badge-danger">Paid</span>
                                                    <span class="badge badge-pill badge-success">Free</span>


                                                </div>
                                                <button type="button" class="btn btn-white btn-circle">
                                                    <i class="material-icons preview" data-target="#editQuiz"
                                                        data-toggle="modal" id="preview2">
                                                        visibility
                                                    </i>

                                                    <span class="mdk-tooltip js-mdk-tooltip" data-for="preview2">
                                                        Take a look
                                                    </span>
                                                </button>

                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="card">
                                    <div class="card-header bg-light">
                                        <div class="media">
                                            <div class="media-body ">
                                                <h4 class="card-title font-weight-bold">Popular</h4>
                                                <p class="card-subtitle">View these top tests people are interesting in
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <ul class="list-group list-group-fit mb-0">
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <a href="quiz-results.html">
                                                        Title of quiz goes here?</a>
                                                    <br>

                                                    <span class="badge badge-pill badge-info">10</span>
                                                    <span class="badge badge-pill badge-info">Math</span>
                                                    <span class="badge badge-pill badge-danger">Paid</span>
                                                    <span class="badge badge-pill badge-success">Free</span>


                                                </div>
                                                <button type="button" class="btn btn-white btn-circle">
                                                    <i class="material-icons preview" data-target="#editQuiz"
                                                        data-toggle="modal" id="preview3">
                                                        visibility
                                                    </i>

                                                    <span class="mdk-tooltip js-mdk-tooltip" data-for="preview3">
                                                        Take a look
                                                    </span>
                                                </button>

                                            </div>
                                        </li>

                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <a href="quiz-results.html">
                                                        Title of quiz goes here?</a>
                                                    <br>

                                                    <span class="badge badge-pill badge-info">10</span>
                                                    <span class="badge badge-pill badge-info">Math</span>
                                                    <span class="badge badge-pill badge-danger">Paid</span>
                                                    <span class="badge badge-pill badge-success">Free</span>


                                                </div>
                                                <button type="button" class="btn btn-white btn-circle">
                                                    <i class="material-icons preview" data-target="#editQuiz"
                                                        data-toggle="modal" id="preview4">
                                                        visibility
                                                    </i>

                                                    <span class="mdk-tooltip js-mdk-tooltip" data-for="preview4">
                                                        Take a look
                                                    </span>
                                                </button>

                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-5">


                                <div class="card">
                                    <div class="card-header bg-primary">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="card-title d-flex justify-content-center">Top Active Members
                                                </h4>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-fit">
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <span class="fa-stack fa-1x">

                                                        <i class="fa fa-certificate fa-stack-2x"
                                                            style="color:#ffbb33"></i>
                                                        <strong class="fa-stack-1x" style="color:white">1</strong>
                                                    </span>

                                                </div>
                                                <div class="media-body">
                                                    Username
                                                </div>
                                                <div class="media-right">
                                                    <div style="width:80px; text-align: right;">
                                                        <strong class="text-muted-light">
                                                            9669 tests</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <span class="fa-stack fa-1x">

                                                        <i class="fa fa-certificate fa-stack-2x"
                                                            style="color:#ffbb33"></i>
                                                        <strong class="fa-stack-1x" style="color:white">2</strong>
                                                    </span>

                                                </div>
                                                <div class="media-body">
                                                    Username
                                                </div>
                                                <div class="media-right">
                                                    <div style="width:80px; text-align: right;">
                                                        <strong class="text-muted-light">
                                                            9669 tests</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <span class="fa-stack fa-1x">

                                                        <i class="fa fa-certificate fa-stack-2x"
                                                            style="color:#ffbb33"></i>
                                                        <strong class="fa-stack-1x" style="color:white">3</strong>
                                                    </span>

                                                </div>
                                                <div class="media-body">
                                                    Username
                                                </div>
                                                <div class="media-right">
                                                    <div style="width:80px; text-align: right;">
                                                        <strong class="text-muted-light">
                                                            9669 tests</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <span class="fa-stack fa-1x">

                                                        <i class="fa fa-certificate fa-stack-2x"
                                                            style="color:#ffbb33"></i>
                                                        <strong class="fa-stack-1x" style="color:white">4</strong>
                                                    </span>

                                                </div>
                                                <div class="media-body">
                                                    Username
                                                </div>
                                                <div class="media-right">
                                                    <div style="width:80px; text-align: right;">
                                                        <strong class="text-muted-light">
                                                            9669 tests</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <span class="fa-stack fa-1x">

                                                        <i class="fa fa-certificate fa-stack-2x"
                                                            style="color:#ffbb33"></i>
                                                        <strong class="fa-stack-1x" style="color:white">5</strong>
                                                    </span>

                                                </div>
                                                <div class="media-body">
                                                    Username
                                                </div>
                                                <div class="media-right">
                                                    <div style="width:80px; text-align: right;">
                                                        <strong class="text-muted-light">
                                                            9669 tests</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>




                <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
                    <div class="mdk-drawer__content ">
                        <div class="sidebar sidebar-left sidebar-light sidebar-transparent-sm-up o-hidden">
                            <div class="sidebar-p-y" data-simplebar data-simplebar-force-enabled="true">

                                <ul class="sidebar-menu">
                                    <li class="sidebar-menu-item active">
                                        <a class="sidebar-menu-button" href="dashboard.html">
                                            <i
                                                class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dashboard</i>
                                            Dashboard
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="quiz-results.html">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">poll</i>
                                            Quiz Results
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="quizzes.html">
                                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">help</i>
                                            Quiz Manager
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="account-edit.html">
                                            <i
                                                class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                                            Account Settings
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="statement.html">
                                            <i
                                                class="sidebar-menu-icon sidebar-menu-icon--left material-icons">receipt</i>
                                            Statement
                                        </a>
                                    </li>

                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="billing.html">
                                            <i
                                                class="sidebar-menu-icon sidebar-menu-icon--left material-icons">monetization_on</i>
                                            Billing
                                            <span class="sidebar-menu-badge badge badge-default ml-auto">$25</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-button" href="guest-login.html">
                                            <i
                                                class="sidebar-menu-icon sidebar-menu-icon--left material-icons">lock_open</i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                                <!-- // END Components Menu -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="modal fade" id="editQuiz">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title">Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mdk-drawer-layout js-mdk-drawer-layout flex" data-fullbleed data-push
                            data-has-scrolling-region>
                            <div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
                                <div class="container-fluid">

                                    <div class="card-group">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="mb-0"><strong>25</strong></h4>
                                                <small class="text-muted-light">TOTAL</small>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="text-success mb-0"><strong>3</strong></h4>
                                                <small class="text-muted-light">CORECT</small>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="text-danger mb-0"><strong>5</strong></h4>
                                                <small class="text-muted-light">WRONG</small>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h4 class="text-primary mb-0"><strong>17</strong></h4>
                                                <small class="text-muted-light">LEFT</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div id="9" class="card-header bg-white">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <h4 class="mb-0"><strong>Question 1</strong></h4>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="card-title"> Github command
                                                        to deploy comits?
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git push</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git commit -m
                                                        &quot;message&quot;</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git pull</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card">
                                        <div id="10" class="card-header bg-white">
                                            <div class="media align-items-center">
                                                <div class="media-left">
                                                    <h4 class="mb-0"><strong>Question 10</strong></h4>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="card-title">
                                                        Github command to deploy comits?
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git push</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git commit -m
                                                        &quot;message&quot;</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox mb-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">git pull</span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Sidebar -->
                            <div class="mdk-drawer js-mdk-drawer" data-align="end">
                                <div class="mdk-drawer__content">

                                </div>
                            </div>
                            <!-- // END Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery -->
        <script src="/vendor/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="/vendor/popper.min.js"></script>
        <script src="/vendor/bootstrap.min.js"></script>

        <!-- Simplebar -->
        <!-- Used for adding a custom scrollbar to the drawer -->
        <script src="/vendor/simplebar.js"></script>

        <!-- MDK -->
        <script src="/vendor/dom-factory.js"></script>
        <script src="/vendor/material-design-kit.js"></script>

        <!-- Sidebar Collapse -->
        <script src="/vendor/sidebar-collapse.js"></script>

        <!-- App JS -->
        <script src="/js/main.js"></script>






    </body>


    <!-- Mirrored from learnplus.frontendmatter.com/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Jun 2018 08:41:28 GMT -->

</html>