<nav class="navbar navbar-expand navbar-dark bg-primary m-0">

    <!-- Toggle sidebar -->
    <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
        <span class="material-icons">menu</span>
    </button>

    <!-- Brand -->
    <a href="/dashboard" class="navbar-brand"><i class="material-icons">
            school</i> EzTest</a>

    <!-- Search -->
    <form class="navbar-search-form d-none d-md-flex" action="http://localhost:3000/search" method="get">
        <input type="text" class="form-control" placeholder="Search" name="key">
        <button class="btn" type="submit"><i class="material-icons">
                search</i></button>
    </form>
    <!-- // END Search -->

    <div class="navbar-spacer"></div>

    <!-- Menu -->
    <% if (currentUser !==undefined) {%>
        <ul class="nav navbar-nav d-none d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="forum.html">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="help-center.html">Get Help</a>
            </li>
        </ul>

        <!-- Menu -->
        <ul class="nav navbar-nav">
            <!-- User dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
                        src="/images/people/50/guy-6.jpg" alt="Avatar" class="rounded-circle" width="40"></a>

                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="../profile">
                        <i class="material-icons">person</i> Profile
                    </a>
                    <a class="dropdown-item" href="../logout">
                        <i class="material-icons">lock</i> Logout
                    </a>
                </div>
            </li>
            <!-- // END User dropdown -->

        </ul>

        <%} else {%>
            <ul class="nav navbar-nav d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="../login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login/register">Sign up</a>
                </li>
            </ul>

            <!-- Menu -->
            <% } %>


                <!-- // END Menu -->

</nav>