<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content ">
        <div class="sidebar sidebar-left sidebar-light sidebar-transparent-sm-up o-hidden">
            <div class="sidebar-p-y" data-simplebar data-simplebar-force-enabled="true">

                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item active">
                        <a class="sidebar-menu-button" href="dashboard">
                            <i
                                    class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dashboard</i>
                            Dashboard
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="quiz-results.html">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">poll</i>
                            Quiz Results
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="quizzes">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">help</i>
                            Quiz Manager
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="account-edit.html">
                            <i
                                    class="sidebar-menu-icon sidebar-menu-icon--left material-icons">account_box</i>
                            Account Settings
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="statement.html">
                            <i
                                    class="sidebar-menu-icon sidebar-menu-icon--left material-icons">receipt</i>
                            Statement
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="billing.html">
                            <i
                                    class="sidebar-menu-icon sidebar-menu-icon--left material-icons">monetization_on</i>
                            Billing
                            <span class="sidebar-menu-badge badge badge-default ml-auto">$25</span>
                        </a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="guest-login.html">
                            <i
                                    class="sidebar-menu-icon sidebar-menu-icon--left material-icons">lock_open</i>
                            Logout
                        </a>
                    </li>
                </ul>
                <!-- // END Components Menu -->
            </div>
        </div>
    </div>
</div>